/* #region common */

/* правило для блоку body і всіх дочірніх елементів */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  color: #434455;
}

.hidden {
  display: none;
}

a {
  text-decoration: none;
}

/* правила для скидання дефолтного підкреслення, margin, padding для маркерів у списках */
ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

/* скидаєм геометрію для заголовків і параграфів */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

/* адаптивні зображення */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}
/* #endregion common */

/* #region header */

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* max-width: 1158px; */
}

.menu,
.address {
  display: none;
}

/* правило для першої частини логотипу */
.logo-ws {
  color: #2e2f42;
}

.header-logo {
  padding: 16px 0;
  display: block;
}

/* правило для 2ї частини логотипу */
.webstudio-link {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}

.burger-icon {
  display: block;
  fill: #2f2f37;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }

  .header-logo {
    padding: 24px 0;
    margin-right: 120px;
  }
  .menu {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .header-nav {
    display: flex;
    align-items: center;
  }

  .address {
    display: block;
    font-style: normal;
    /* margin-left: auto; */
  }

  .header-address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .address-link {
    display: block;
    /* font-style: normal; */
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  /* правила для інтеактивних елементів, кнопок і посилань */
  .nav-link {
    position: relative;
    display: block;
    padding: 24px 0;
    color: #2e2f42;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link:hover,
  .nav-link:focus,
  .address-link:hover,
  .address-link:focus {
    color: #404bbf;
  }

  .nav-link::after {
    content: '';
    border-radius: 2px;
    height: 4px;
    width: 100%;
    background-color: #404bbf;
    position: absolute;
    left: 0;
    bottom: -1px;
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link:hover::after,
  .nav-link:focus::after,
  .nav-link.current::after {
    opacity: 1;
  }
}

@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }

  .header-address-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }

  /* меню навігації */
  .menu {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }

  .address-link {
    padding: 24px 0;

    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

/* mobile-menu */

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mobile-menu-button-close {
  width: 24px;
  height: 24px;

  position: absolute;
  top: 24px;
  right: 24px;

  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-button-close-icon {
  background-color: #fff;
  fill: #2e2f42;
  /* transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.mobile-menu-nav {
  margin-bottom: auto;
}

.mobile-menu-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-menu-address {
  font-style: normal;
  padding-bottom: 48px;
}
.mobile-menu-link {
  font-weight: 700;
  font-size: 36px;

  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-link:hover,
.mobile-menu-link:focus {
  color: #404bbf;
}

.mobile-menu-address-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.mobile-menu-address-link {
  display: block;

  font-weight: 500;
  font-size: 20px;

  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-address-link:hover,
.mobile-menu-address-link:focus {
  color: #4d5ae5;
}

.mm-contact-links-list {
  display: flex;
  gap: 40px;
  justify-content: center;
}

.mm-contact-links-item {
  width: 40px;
  height: 40px;
}

.mm-contact-frame {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mm-contact-frame:hover,
.mm-contact-frame:focus {
  background-color: #404bbf;
}

.mm-contact-icon {
  display: block;
  margin: auto;
  fill: #f4f4fd;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

/* #endregion header */

/* #region effective-solutions */

.effective-solutions {
  margin: 0 auto;
  padding-top: 72px;
  padding-bottom: 72px;

  background-color: #2e2f42;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    image-set(
      url(../images/people-office-m.jpg) 1x,
      url(../images/people-office-m@x2.jpg) 2x
    );
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 320px;
}

.esolutions-hdr {
  color: #ffffff;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  max-width: 216px;
  margin: 0 auto 72px;
}

.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
  display: block;

  margin: 0 auto;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.button:hover,
.button:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .effective-solutions {
    /* margin: 0 auto; */
    padding-top: 112px;
    padding-bottom: 112px;

    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      image-set(
        url(../images/people-office-t.jpg) 1x,
        url(../images/people-office-t@x2.jpg) 2x
      );
    max-width: 768px;
  }

  .esolutions-hdr {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 1158px) {
  .effective-solutions {
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      image-set(
        url(../images/people-office.jpg) 1x,
        url(../images/people-office@x2.jpg) 2x
      );
    max-width: 1440px;
  }
  .esolutions-hdr {
    margin-bottom: 48px;
  }
}

/* #endregion effective-solutions */

/* #region features */
.features {
  padding: 96px 0;
  margin: 0 auto;
}
.features-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 72px;
}
.features-icon-box {
  display: none;
}

.features-hdr-three {
  font-weight: 700;
  font-size: 36px;

  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
.features-txt {
  font-weight: 500;
  line-height: 1.5;
  color: #434455;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .features-list {
    justify-content: center;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
  .features-list-item {
    flex-basis: calc((100%-24px) / 2);
    flex-shrink: 1;
    max-width: 356px;
  }
}

@media screen and (min-width: 1158px) {
  .features {
    padding-top: 120px;
  }

  .features-list-item {
    flex-basis: calc((100%-72px) / 4);
    max-width: 264px;
  }

  .features-icon-box {
    padding-top: 24px;
    padding-bottom: 24px;
    margin-bottom: 8px;
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
  }

  .features-icon {
    display: block;
    margin: 0 auto;
  }

  .features-list {
    /* display: flex;
    justify-content: center; */
    gap: 24px;
  }

  .features-hdr-three {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  .features-txt {
    /* font-weight: 500; */
  }
}

/* #endregion features */

/* #region team */

.team {
  background-color: #f4f4fd;
  margin: 0 auto;
  padding: 96px 0px;
}

.team-hdr-two {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;

  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.team-item {
  background-color: #ffffff;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);

  border-radius: 0 0 4px 4px;
}

.team-item-textcontent {
  padding: 32px 0;
}

.team-hdr-three {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-txt {
  line-height: 1.5;
  text-align: center;
  color: #434455;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.team-contact-links-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.team-contact-links-item {
  width: 40px;
  height: 40px;
}

.team-contact-frame {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-contact-icon {
  display: block;
  margin: auto;
  fill: #f4f4fd;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.team-contact-frame:hover,
.team-contact-frame:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 64px 24px;
  }
}

@media screen and (min-width: 1158px) {
  .team {
    padding: 120px 0;
  }

  .team-list {
    gap: 24px;
  }
}
/* #endregion team */

/* #region portfolio */
.portfolio {
  padding-top: 96px;
  padding-bottom: 96px;
  margin: 0 auto;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  /* row-gap: 48px; */
}

.portfolio-list-item {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.thumb {
  position: relative;
  width: 288px;
  height: 280px;
  margin: 0 auto;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    gap: 24px;
    row-gap: 72px;
  }

  .portfolio-list-item {
    flex-basis: calc((100% - 24px) / 2);
  }
  .thumb {
    position: relative;
    width: 356px;
    height: 300px;
  }
}

@media screen and (min-width: 1158px) {
  .portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
  }

  .portfolio-list-item {
    flex-basis: calc((100% - 48px) / 3);
    box-shadow: none;
  }

  .thumb {
    position: relative;
    width: 360px;
    height: 300px;
  }

  .portfolio-list-item-overlay {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;

    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;

    padding: 40px 32px;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;

    transform: translatey(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .portfolio-list-item:hover .thumb p {
    transform: translatey(0);
    box-shadow: ;
  }

  .portfolio-list-item:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    transform: translateY(0%);
  }
}

.portfolio-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-item-textcontent {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-hdr-three {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-text {
  line-height: 1.5;
  color: #434455;
  letter-spacing: 0.02em;
}
/* #endregion portfolio */

/* #region bottom */

.bottom {
  background-color: #2e2f42;
  color: #f4f4fd;
  padding: 96px 0;
}

.bottom-contr {
  display: flex;
  flex-wrap: wrap;
  /* align-items: baseline; */
}

.bottom-links-box {
  max-width: 100%;
  margin-bottom: 72px;
}

.bottom .webstudio-link {
  display: inline-block;
  margin-bottom: 16px;
  width: 100%;
  text-align: center;
}

.bottom .logo-ws {
  color: #f4f4fd;
}

.bottom-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
}

.bottom-social-media-box {
  margin-left: auto;
  margin-right: auto;
}

.bottom-social-media-header {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;

  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;

  width: 100%;
  text-align: center;

  margin-bottom: 16px;
}

.bottom-social-links {
  display: flex;
  gap: 16px;

  margin-bottom: 72px;
}

.bottom-social-links-item {
  width: 40px;
  height: 40px;
}

.bottom-contact-frame {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.bottom-contact-frame:hover,
.bottom-contact-frame:focus {
  background-color: #31d0aa;
}

.bottom-contact-icon {
  display: block;
  margin: auto;
  fill: #f4f4fd;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bottom-subscribe-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;

  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;

  width: 100%;
  text-align: center;

  margin-bottom: 16px;
}

.bottom-subscribe-box {
  margin-left: auto;
  margin-right: auto;
}

.bottom-subscribe-form {
  width: 100%;
  /* display: flex;
  flex-direction: column;
  gap: 16px; */
}

.lbl-subscribe {
  margin-bottom: 16px;
  display: inline-block;
}

.subscribe-email {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  color: #fff;
  background-color: transparent;
}

.subscribe-email::placeholder {
  color: #fff;
}

.subscribe-btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  margin: 0 auto;
  padding: 0;

  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  height: 40px;
  min-width: 165px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-subscr-icon {
  margin-left: 16px;
}

@media screen and (min-width: 768px) {
  .bottom-links-box {
    max-width: 264px;
    margin-right: 24px;
  }

  .bottom-contr {
    padding-left: 108px;
  }

  .bottom .webstudio-link {
    text-align: left;
  }

  .bottom-social-media-box {
    margin-left: 0;
    margin-right: 0;
  }

  .bottom-social-links {
    display: flex;

    margin-bottom: 0;
  }

  .bottom-social-media-header {
    text-align: left;
    width: auto;
  }

  .bottom-subscribe-box {
    width: 453px;
    height: 80px;
    margin-left: 0;
    margin-right: 0;
  }

  .bottom-subscribe-text {
    text-align: left;
  }

  .bottom-subscribe-form {
    display: flex;
    flex-direction: column;

    flex-direction: row;
    gap: 24px;
  }

  .lbl-subscribe {
    margin-bottom: 0;
  }

  .subscribe-btn {
    margin: 0;
  }
}

@media screen and (min-width: 1158px) {
  .bottom {
    padding: 100px 0;
  }

  .bottom-contr {
    flex-wrap: nowrap;
    align-items: baseline;
    padding-left: 15px;
  }

  .bottom-links-box {
    margin-right: 120px;
    margin-bottom: 0;
  }

  .bottom-social-media-box {
    margin-right: 80px;
  }
}

/* #endregion bottom */

/* #region backdrop + modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  z-index: 999;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 288px;
  min-height: 623px;
  padding: 72px 16px 24px;

  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);

  background-color: #fcfcfc;
  transform: translate(-50%, -50%);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop:not(.is-open) .modal {
  transform: translate(-50%, -50%) scale(1.5);
}

.close-btn {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover,
.close-btn:focus {
  border: none;
  background-color: #404bbf;
}

.close-btn:hover > svg,
.close-btn:focus > svg {
  fill: #ffffff;
}

.close-btn-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;

  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.user-box {
  margin-bottom: 8px;
}

.input-box {
  position: relative;
}

.label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;

  line-height: 1.17;
  letter-spacing: 0.04em;

  color: #8e8f99;
}

.input-icon {
  fill: #2e2f42;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-icon:hover {
  fill: #4d5ae5;
}

.input-field {
  width: 100%;
  height: 40px;
  padding-left: 34px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  outline: transparent;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.input-field.txt-area {
  height: 120px;
  resize: none;
  padding: 8px 16px;
  font-weight: 400;
  font-size: 12px;

  line-height: 1.17;
  letter-spacing: 0.04em;
}

.input-field:hover + svg,
.input-field:focus + svg {
  fill: #4d5ae5;
}

.input-field:hover,
.input-field:focus,
.txt-area:hover,
.txt-area:focus {
  border-color: #4d5ae5;
}

.textarea-box {
  margin-bottom: 16px;
}

.txt-area {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  /* color: rgba(46, 47, 66, 0.4); */
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.accept-checkbox-container {
  margin-bottom: 24px;
}

.accept-checkbox-label {
  font-weight: 400;
  font-size: 12px;

  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.privacy-policy-link {
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.span-check-icon {
  width: 16px;
  height: 16px;

  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  fill: transparent;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.accept-checkbox:checked + label > span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
      0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
    transform: translate(-50%, -50%);

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 1158px) {
  .input-field {
    padding-left: 38px;
  }
}

/* #endregion backdrop + modal */
